.bg-nav {
    background-color: #212429;
}

.dropdown:hover .dropdown-menu {
    display: block;
    pointer-events: auto;
}

.dropdown-menu {
    background-color: #212429;
    margin-top: 2%;
}

.dropdown-toggle{
    pointer-events: none;
}

.nav-item.active {
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

.dropdown-item {
    color: white;
}

@media (max-width: 991px) {
    .dropdown-menu {
      margin-top: 0.3%;
    }
}

.image {
	height: 650px;
	width: 1536px;
}

.bg {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.text {
    position: absolute;
}

.arrow {
    height: 5vh;
    margin-top: 80vh;
}

.is {
    background-image: url(/assets/IS.JPG);
}

.it {
    background-image: url(/assets/IT.JPG);
}

.dkv {
    background-image: url(/assets/DKV.JPG);
}

.id {
    background-image: url(/assets/ID.JPG);
}

table, th {
    border: 1px solid black;
    width: 530px;
    height: 530px;
    margin: 30px;
}
